@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}

/* NAV */

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100px;
    background-color: #1e1e1e;
    position: fixed;
}

.logo{
    width: 125px;
    height: auto;
    margin: 30px;
}

ul{
    display: flex;
    justify-content: space-around;
    gap: 3vw;
    list-style: none;
    font-size: x-large;
    align-items: center;
    margin-right: 5vh;
}

ul li a{
    text-decoration: none;
    color: rgb(0, 182, 0);
    font-weight: bold;
}

ul li a:hover{
    text-decoration: underline;
}

.informacion{
    width: 40px;
    height: 40px;
    margin: 20px;
}

.toggle-menu{
    display: none;
}

#toggle-menu{
    display: none;}

.nav-login-button{
    width: 100px;
    height: 40px;
    border-radius: 10px;
    background-color: #e7e7e7;
    color: black;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

.nav-register-button{
    width: 100px;
    height: 40px;
    border-radius: 10px;
    background-color: #e7e7e7;
    color: black;
    font-size: 17px;
    font-weight: bold;
    cursor: pointer;
}

/* BODY */

.introduccion{
    display: flex;
    padding: 50px;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    background-color: #e7e7e7;
    padding-top: 150px;
}

.introduccion-title strong {
    color: #00b600;
}

.introduccion-info{
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 40%;
}

.introduccion-title{
    font-size: 50px;
}

.introduccion-info p{
    font-size: x-large;
    color: #1d1c1c;
    font-weight: 900;   
}

.introduccion-img{
    width: 500px;
    min-width: 400px;
    border-radius: 10px;
    border: 2px solid black;
    margin-left: 15px;
}

/* benefits */

.benefits-container-list{
    display: flex;
}

.benefits-container-list svg{
    margin-top: 50px;
}

.benefits-container{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 15px;
    padding: 50px;
    background-color: #292929;
    color:#e7e7e7
}

.benefits-container h2{
    font-size: 40px;
}

.benefits-container h3{
    font-size: 32px;
}

.benefits-container-uno{
    display: flex;
    flex-direction: column;
    padding: 30px;
    align-items: center;
    gap: 15px;

}

.benefits-container-uno span{
    max-width: 25vw;
    font-weight: 600;   
}

.benefits-container-dos{
    display: flex;
    flex-direction: column;
    padding: 30px;
    align-items: center;
    gap: 15px;
}

.benefits-container-dos span{
    max-width: 25vw;
    font-weight: 600;   
}


/* Cards section*/

.team{
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
    background-color: #e7e7e7;
}

.team-text{
    display: flex;
    flex-direction: column;
    gap: 25px;
    justify-content: center;
    align-items: center;
    padding: 30px;
    text-align: center;
}

.team-text-title{
    font-size: 40px;
}

.team-text-description{
    font-size: x-large;
    font-weight: 900;
    margin: 20px 0px;
}

.team-card{
    display: flex;
    flex-direction: column;
    gap: 35px;
    justify-content: center;
}

.team-card-uno{
    display: flex;
    flex-direction: row;
    gap: 35px;
    justify-content: center;
}

.team-card-dos{
    display: flex;
    flex-direction: row;
    gap: 35px;
    justify-content: center;
}

.card{
    width: 25%;
    background-color: rgb(197, 197, 197);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    border-radius: 15px;
    text-align: center;
    padding: 20px;
    background-color:#292929;
    color: #fff;
    border: 2px solid black;
}

.card-title{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.card-title h4{
    color: #00b600;
    font-weight: bold;
    font-size: 16px;
}


.card-image{
    width: 250px;
    height: 175px;
    border-radius: 15px;
    border: 2px solid black;
}

.card-description{
    display: flex;
    flex-direction: column;
    gap: 10px;
}


/* Ejercicios Cards section*/

.exercises{
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
}

.exercises-text{
    display: flex;
    flex-direction: column;
    gap: 25px;
    justify-content: center;
    align-items: center;
    padding: 30px;
    text-align: center;
}

.exercises-card{
    display: flex;
    flex-direction: row;
    gap: 35px;
    justify-content: center;
}

.card-exercises{
    width: 25%;
    height: 300px;
    background-color: rgb(197, 197, 197);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 45px;
    border-radius: 15px;
    text-align: center;
    padding: 20px;
    background-color: #1d1c1c;
    color: #fff;
}

/* Contact */

.contact{
    display: flex;
    justify-content: center;
    padding: 30px;
    background-color: #292929;
    color: #e7e7e7;
}

.contact-title{
    font-size: 30px;
}

.contact-info{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.contact-names{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    padding: 30px;
    align-items: center;
    gap: 35px;

}

.person{
    font-size: x-large;
}


.person ol{
    list-style: none;
}

.person ol li{
    margin: 20px;
}

.contact-img{
    width: 40%;
}

.map-img{
    width: 100%;
    height: auto;
    border-radius: 15px;
    border: #1d1c1c 2px solid;
}

.contact-media-buttons{
    display: flex;
    flex-direction: row;
    gap: 25px;
    margin-top: 25px;
}

.mapa{
    width: 500px;
    border: 2px solid black;
    border-radius: 15px;
    margin-left: 15px;
    
}

/* Footer */

.footer {
    bottom: 0;
    width: 100%;
    background-color: #f8f9fa;
    color: black;
    text-align: center;
    padding: 10px;
}

.footer-logo {
    height: 50px;
}

.footer-copyright {
    font-size: 12px;
}


/* Media Queries */

@media (max-width: 992px){

    .container-info{
        width: 100%;
        padding-left: 30px;
        padding-right: 30px;
    }

    .container-img{
        display: none;
    }

    .introduccion{
        display: flex;
        justify-content: center;
    }

    .introduccion-info{
        width: 80%;
    }

    .introduccion-img{
        display: none;
    }

    .benefits-container-list{
        flex-direction: column;
    }

    .benefits-card{
        flex-direction: column;
        align-items: center;
    }

    .benefits-container-uno span{
        max-width: 50vw;
    }

    .benefits-container-dos span{
        max-width: 50vw;
    }

    .card{
        width: 60%;
    }

    .toggle-menu{
        display: none;
    }

    #toggle-menu{
        display: none;}

    .team-card-uno{
        flex-direction: column;
        align-items: center;
    }
    .team-card-dos{
        flex-direction: column;
        align-items: center;
    }

    .person{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: xx-large;
    }

    .mapa{
        display: none;
    }

    .nav{
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    ul{
        display: none;
        justify-content: space-around;
        flex-direction: column;
        position: absolute;
        width: 100%;
        height: calc(100vh - 14vh);
        list-style: none;
        font-size: x-large;
        align-items: center;
        background-color: rgb(57, 57, 57);
        top: 100px;
        left: 0;
        
        
    }
    
    ul li a{
        text-decoration: none;
        color: #00b600;
    }

    .toggle-menu{
        display: flex;
        position: relative;
        right: 30px;
        
    }

    #toggle-menu:checked ~ ul{
        display: flex;
    } 

}


@media (max-width: 768px){
    


    

    .contact{
        flex-direction: column;
        align-items: center;
    }

    .contact-info{
        width: 100%;
    }

    .map-img{
        display: none;
    }

    


}

@media (max-width: 576px){
    .nav{
        flex-direction: column;
        align-items: center;
    }

    .logo{
        width: 25vw;
    }

    .introduccion{
        width: 100%;
    }

    .introduccion-info p{
        font-size: 20px;
    }

    .introduccion-title{
        font-size: 30px;
    }

    .card-image{
        width: 100%;
    }

    .benefits-container h2{
        font-size: 30px;
    }

    .benefits-container h3{
        font-size: 20px;
    }

    .team-text-title{
        font-size: 30px;
    }

    .team-text-description{
        font-size: 20px;
    }

    .contact-title-text{
        font-size: 30px;
    }

    .person ol li{
        font-size: 20px;
    }
}




/* PAGINA INGRESAR */

.login-container{
    background-color:#292929;
    display: flex;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.login-card{
    background-color: #e7e7e7;
    width: 700px;
    height: 800px;
    border-radius: 20px;
    border: 5px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 60px;
}

.login-card h2 span {
    color: #00b600;
}

.login-card form label {
    font-size: large;
    font-weight: 900;
}

.login-card form  input{
    margin-bottom: 20px;
    margin-top: 20px;    
}

.login-card form button{
    width: 150px;
    height: 35px;
    margin-top: 20px;
    border-radius: 10px;
    background-color: #e7e7e7;
    color: black;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

.login-card p a{
    font-size: large;
    color: #00b600;
}

@media (max-width: 992px){
    .login-card{
        width: 100%;
        height: 80vh;
    }
}
/* PAGINA REGISTRARSE */


.register-container{
    background-color:#292929;
    display: flex;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.register-card{
    background-color: #e7e7e7;
    width: 700px;
    height: 800px;
    border-radius: 20px;
    border: 5px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 40px;
}

.register-card h2 span {
    color: #00b600;
}

.register-card form label {
    font-size: large;
    font-weight: 900;
}

.register-card form  input{
    margin-bottom: 20px;
    margin-top: 20px;    
}

.register-card form button{
    width: 150px;
    height: 35px;
    margin-top: 20px;
    border-radius: 10px;
    background-color: #e7e7e7;
    color: black;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

.register-card p a{
    font-size: large;
    color: #00b600;
}

@media (max-width: 992px){
    .register-card{
        width: 100%;
        height: 80vh;
    }
}